<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>즐팀 : 회원가입</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let m = '<%= message %>';
      if (m) alert(m);
    }, false);
  </script>

  <script>
    function isNumber(s) {
      s += ''; // 문자열로 변환
      s = s.replace(/^\s*|\s*$/g, ''); // 좌우 공백 제거
      if (s == '' || isNaN(s)) return false;
      return true;
    }

    function compareEmail() {
      let id = document.frm_signup.signup_email.value;
      
      const regxEmail = /[A-Za-z0-9]{8}@e-mirim.hs.kr/;
      const resultEmail = regxEmail.exec(id);

      if (!id) {
        document.getElementById("signup_email_result").innerHTML = "이메일을 입력해주세요";
        return;
      } else if (!resultEmail) {
        document.getElementById("signup_email_result").innerHTML = "학교 이메일 형식은 @e-mirim.hs.kr 입니다";
        return;
      }

      let data = {
        id
      };

      fetch('http://127.0.0.1:3000/signup/compareEmail', {
        method: 'POST',
        body: JSON.stringify(data),
        headers: new Headers(),
      }).then((res) => {
        res.json()
          .then(json => {
            if (res.status === 200 && JSON.parse(json).result) {
              document.frm_signup.signup_email.readOnly = true;
              document.getElementById('compareBtn').innerHTML = '이메일 중복 확인 완료';
              document.getElementById('compareBtn').disabled = true;
              document.getElementById("signup_email_result").innerHTML = "사용 가능한 이메일입니다";
              document.getElementById('signupBtn').disabled = false;
            } else if (res.status === 500) {
              document.getElementById("signup_email_result").innerHTML =
              "이메일을 중복확인 하는 과정에서 오류가 발생했습니다. 다시 시도해주세요";
            } else if (res.status === 200 && !JSON.parse(json).result) {
              document.getElementById("signup_email_result").innerHTML = "사용할 수 없는 이메일입니다";
            }
          });
      }).catch(err => console.error(err));
    }

    function signup_chk() {
      let p_set = document.frm_signup;

      let name_result = document.getElementById("signup_name_result");
      let num_result = document.getElementById("signup_num_result");
      let pwd_result = document.getElementById("signup_pwd_result");
      let pwdck_result = document.getElementById("signup_pwdck_result");
      let email_result = document.getElementById("signup_email_result");
      let inters_result = document.getElementById("signup_inters_result");
      let profile_result = document.getElementById("signup_profile_result");
      let result = document.getElementById("signup_result");

      const regxPwd = /(?=.*\d{1,50})(?=.*[~`!@#$%^&*()-+=]{1,50})(?=.*[a-zA-Z]{2,50}).{8,15}$/;
      const resultPwd = regxPwd.exec(p_set.signup_pwd.value);

      if (p_set.signup_name.value == "") {
        name_result.innerHTML = "이름을 입력해주세요";
        p_set.signup_name.focus();
      } else if (p_set.signup_num.value == "" || !(isNumber(p_set.signup_num.value))) {
        name_result.innerHTML = "";
        num_result.innerHTML = "학번을 입력해주세요";
        p_set.signup_num.focus();
      } else if (p_set.signup_pwd.value == "") {
        num_result.innerHTML = "";
        pwd_result.innerHTML = "비밀번호를 입력해주세요";
        p_set.signup_pwd.focus();
      } else if (p_set.signup_email.value == "") {
        pwd_result.innerHTML = "";
        email_result.innerHTML = "이메일을 입력해주세요";
        p_set.signup_email.focus();
      } else if (p_set.signup_inter1.value == "") {
        emali_result.innerHTML = "";
        inters_result.innerHTML = "흥미 주제들을 입력해주세요";
        p_set.signup_inter1.focus();
      } else if (p_set.signup_inter2.value == "") {
        inters_result.innerHTML = "흥미 주제들을 입력해주세요";
        p_set.signup_inter2.focus();
      } else if (p_set.signup_inter3.value == "") {
        inters_result.innerHTML = "흥미 주제들을 입력해주세요";
        p_set.signup_inter3.focus();
      } else if (p_set.signup_profile.value == "") {
        inters_result.innerHTML = "";
        profile_result.innerHTML = "자기소개를 입력해주세요";
        p_set.signup_profile.focus();
      } else if (!resultPwd) {
        profile_result.innerHTML = "";
        pwd_result.innerHTML = "비밀번호는 영문 대소문자/숫자/특수문자 !, @, #, $, %, ^, &, *를 포함한 8~15자입니다";
        p_set.signup_pwd.focus();
      } else if (!(p_set.signup_pwd.value == p_set.signup_pwdck.value)) {
        profile_result.innerHTML = "";
        pwdck_result.innerHTML = "비밀번호와 확인 문자가 일치하지 않습니다";
        p_set.signup_pwdck.focus();
      } else {
        p_set.submit();
      }
    }

    function enterChkEmail() {
      if (window.event.keyCode == 13) {
        compareEmail();
      }
    }

    function lengCounter() {
      document.getElementById("counter").innerHTML = document.getElementById("textarea").value.length;
    }
  </script>
</head>

<body data-spy="scroll" data-target=".navbar-collapse">

  <div class="culmn">

    <% include header %>

    <div class="container">
      <div class="row">

        <div class="col-sm-8 col-sm-offset-2" style="margin-top: 150px; margin-bottom: 150px;">

          <div class="col-sm-12">
            <div class="page_title text-center">
              <h2>회원가입</h2>
              <div class="separator_auto"></div>
            </div>
          </div>

          <div class="col-sm-10">
            <form class="form_write" action="/signup" method="post" name="frm_signup">
              <label>
                이름
                <input type="text" name="signup_name" placeholder="실명을 입력해주세요" maxlength="20">
              </label>
              <span id="signup_name_result" class="fail"></span>

              <label>
                학번
                <input type="text" name="signup_num" maxlength="4">
              </label>
              <span id="signup_num_result" class="fail"></span>

              <label>
                이메일
                <input type="text" name="signup_email" placeholder="학교 이메일을 입력해주세요">
              </label>
              <button type="button" id="compareBtn" onClick="compareEmail()" class="form-control btn btn-primary">
                이메일 중복 확인
              </button>
              <button type="button" id="compareBtn" onClick="sendVerifyMail()" class="form-control btn btn-primary" style="display: none;">
                인증 메일 발송
              </button>

              <span id="signup_email_result" class="fail"></span>

              <label>
                비밀번호
                <input type="password" name="signup_pwd" placeholder="비밀번호"
                  name="signup_pwd">
              </label>
              <span id="signup_pwd_result" class="fail"></span>

              <label>
                비밀번호 확인
                <input type="password" name="signup_pwdck" placeholder="비밀번호 확인">
              </label>
              <span id="signup_pwdck_result" class="fail"></span>

              <label>
                <div>흥미있는 기술 / 공부 주제</div>
                <div class="col-md-4">
                  <input type="text" name="signup_inter1">
                </div>

                <div class="col-md-4">
                  <input type="text" name="signup_inter2">
                </div>

                <div class="col-md-4">
                  <input type="text" name="signup_inter3">
                </div>
              </label>

              <span id="signup_inters_result" class="fail"></span>
              <br>

              <div class="textarea_counter">
                <label>
                  자기소개
                  <textarea id="textarea" name="signup_profile" maxlength="500" onkeyup="lengCounter()"></textarea>

                  <span id="ex_counter" class="counter">( <span id="counter" class="counter"></span> / 500 )</span>
                </label>
              </div>
              <span id="signup_profile_result" class="fail"></span>

              <button type="button" id="signupBtn" onClick="signup_chk()" class="form-control btn btn-primary" disabled>회원가입</button>

            </form>
          </div>
        </div>
      </div>

    </div> <!-- row -->
  </div> <!-- container -->
  <% include footer %>
  </div> <!-- culmn -->


</body>

</html>