<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<!--Designerd by: http://bootstrapthemes.co-->

<head>
  <meta charset="utf-8">
  <title>즐팀 : 로그인</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script>
    function find_pwd_chk() {
      let find_email = document.getElementById("find_email").value;
      let find_hint = document.getElementById("find_hint").value;

      let result_text = document.getElementById("text_find_pwd"); //메일이 정확한지 확인하는 정규표현식에 따른 결과를 보여주는 span

      let page_original = document.getElementById("original");
      let page_new = document.getElementById("new");

      const regxEmail = /[A-Za-z0-9]{8}@e-mirim.hs.kr/;
      let resultEmail = regxEmail.exec(find_email);

      let flag = 0;
      let str = '입력하신 정보를 확인 중입니다';

      if (!resultEmail) {
        str = '학교 이메일 형식은 @e-mirim.hs.kr 입니다';
        flag = 1;
        document.getElementById("find_email").value = '';
        document.getElementById("find_hint").value = '';
      }

      page_original.style.display = 'none';
      page_new.style.display = 'block';
      result_text.innerHTML = str;
      setTimeout(function () {
        page_original.style.display = 'block';
        page_new.style.display = 'none';
      }, 2000);
      if (flag === 0) setTimeout(function () {
        sendTheEmail()
      }, 2000);
    }

    function sendTheEmail() {
      let p_set = document.frm_find_write;
      p_set.submit();
    }
  </script>
</head>

<body data-spy="scroll" data-target=".navbar-collapse">

  <div class="culmn">

    <% include header %>

    <div class="container">
      <div class="row">

        <div class="col-sm-8 col-sm-offset-2" style="margin-top: 200px; margin-bottom: 150px;">

          <div class="col-sm-12">
            <div class="page_title text-center">
              <h2>로그인</h2>
              <div class="separator_auto"></div>
            </div>
          </div>

          <div class="col-sm-10">

            <form action="/signin" method="post" class="form_write" name="frm_signin">
              <label>
                이메일
                <%
                  if(cookie_id){
                %>
                <input type='email' class='form-control' placeholder='학교 이메일을 입력해주세요' name='signin_email'
                  value='<%= cookie_id%>'>
                <%
                  } else {
                %>
                <input type='email' class='form-control' placeholder='학교 이메일을 입력해주세요' name='signin_email'>
                <%
                  }
                %>
              </label>

              <label>
                비밀번호
                <input type="password" class="form-control" placeholder="비밀번호를 입력해주세요" name="signin_pwd">
              </label>

              <div class="checks etrans" style="float: left;">
                <input type="checkbox" id="email_save" value="yes" name="id_ck">
                <label for="email_save">이메일 저장</label>
              </div>

              <div class="menu_signin" style="float: right;">
                <span data-toggle="modal" data-target="#find_pwd_modal" style="cursor: pointer;">비밀번호 찾기</span>

                <a href="/signup"><span>회원가입</span></a>
              </div>

              <button type="submit" name="signin" class="form-control btn btn-primary">로그인</button>

              <span id="singnin_find_result" class="fail"></span>

              <% 
                if(message) { 
              %>
              <span id='signup_result' class='fail'><%= message %></span>
              <% 
                } 
              %>
            </form>
          </div>
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
    <% include footer %>
  </div> <!-- culmn -->


  <!-- Insert Modal -->
  <div class="modal fade" id="find_pwd_modal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header">
          <h6 class="modal-title" style="display: inline-block;">Find Password</h6>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div> <!-- modal header -->

        <div class="modal-body" style="padding: 4rem;">
          <div id="new" style="display: none;">
            <span id="text_find_pwd" class="content"></span>
          </div>

          <div id="original" class="col-sm-10 col-sm-offset-1">
            <form name="frm_find_write" class="form_write" action="/signin/find" method="post">
              <div class="col-sm-8">
                <input type="text" id="find_email" name="find_email" maxlength="25" placeholder="학교 이메일(아이디)을 입력해주세요"
                  style="padding: 1.25rem 0.3rem;">
                <input type="text" id="find_hint" name="find_hint" maxlength="25"
                  placeholder="가입 시 입력했던 흥미있는 기술 / 공부 주제를 입력해주세요" style="padding: 1.25rem 0.3rem;">
              </div>
              <div class="col-sm-4">
                <button type="button" onClick="find_pwd_chk()" id="btn_find"
                  class="form-control btn btn-primary">확인</button>
              </div>
            </form>
          </div>
        </div> <!-- modal body -->

      </div> <!-- modal content -->

    </div> <!-- modal-dialog -->
  </div> <!-- modal -->

</body>

</html>